#upload {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    z-index: -1;
}

#upload-label {
    border: solid 2px black;
    border-radius: 15px;
    cursor: pointer;
    background-color: lawngreen;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

#upload-label:hover {
    background-color: greenyellow;
    font-weight: 700;
    border: solid 4px black;
}
